<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contacts</title>
    <style>
        h1{
            color: #e14191;
        }
    </style>
</head>
<body>
<h1>Contacts</h1>
<ul>
   <li><a href="/">Home</a></li>
   <li><a href="/posts">Posts</a></li>
   <li><a href="/add-post">Add Post</a></li>
   <li><a href="/contacts">Contacts</a></li>
</ul>
</body>
</html>